app-header{
    display: block;
    width:90%%;
    margin: 1%;
    height: 20%;
    padding: 30px;
    background-color: lightblue;
    border: 2px solid black;
}

#flex{
    display: flex;
    width: 98%;
    height: 500px;
    margin: 1%;
}

app-nav{
    flex: 1;
    height: 50%;
    background-color: lightblue;
    margin-right: 20px;
    border: 2px solid black;
    
}

app-main{
    padding: 20px;
    flex: 2;
    background-color: lightblue;
    margin-left: 20px;
    border: 2px solid black;
    
}